<header id="header">
  <h1>Michael Waldron</h1>
  <nav class="links">
    <ul>
      <li><a href="/index.html">About</a></li>
      <li><a href="/views/experience.html">Experience</a></li>
      <li><a href="/views/projects.html">Projects</a></li>
      <li><a href="/views/resume.pdf">Resume</a></li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form id="search" method="get" action="#">
          <input type="text" name="query" placeholder="Search" />
        </form>
      </li>
    </ul>
  </nav>
</header>