<!DOCTYPE html>
<html lang="en-US">

<head>
  <title>Welcome</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/assets/css/main.css" />
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/browser.min.js"></script>
  <script src="/assets/js/breakpoints.min.js"></script>
  <script src="/assets/js/util.js"></script>
  <script src="/assets/js/main.js"></script>
  <script>
    $(function () {
      var includes = $('[data-include]');
      $.each(includes, function () {
        var file = '/views/' + $(this).data('include') + '.html';
        $(this).load(file);
      });
    });
  </script>
</head>

<body>

  <h1>Taking Rai to the 2020's</h1>

  <p>
    If you're here, then I think this is working. If it's not working, then how did you get here?
    And finally, if you're not here... then I have questions.
  </p>

</body>

</html>